.container {
    display: flex;
    width: 20%;
    height: 30%;
    margin: auto;
    border: 3px solid black;
    
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.fieldContainer {
    display: flex;
    width: 100%;
    height: 50%;
    margin-top: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.buttonContainer {
    width: 100%;
    height: 15%;
    margin-top: auto;
}

.login {
    width: 100%;
    height: 100%;
    border-radius: 0;
}